.references {
  padding: 10vh 0;

  &__wrrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .label {
    background-color: #3b5998;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
  }

  p {
    margin-top: 20px;
  }

  &__footer {
    width: 100%;
    grid-column-start: 1; 
    grid-column-end: 3; 
  }
}

.references-block {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px auto;
}
