@import "./vendors/reset";
@import "./vendors/variables";

/** Components */
@import "./components/hero";
@import "./components/content";
@import "./components/contact";
@import "./components/last-events";
@import "./components/footer";

.container {
  padding: 0 100px;

  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
